/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select,
ul {
  font-family: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLORS */
$main-dark: hsl(183, 100%, 15%);
$second-dark: hsl(172, 67%, 45%);
$label-gray: hsl(184, 14%, 56%);
$bg-light: hsl(185, 41%, 84%);
$bg-input: hsl(189, 41%, 97%);
$bg-white: hsl(0, 0%, 100%);
$error: hsl(0, 100%, 50%);
$bg-reset: hsl(186, 14%, 43%);
$attribution: hsl(228, 45%, 44%);

/* MAIN */

html {
  background-color: $bg-light;
  font-family: "Space Mono", monospace;
}

main {
  width: 100%;
  font-size: 1.6rem;
  background-color: $bg-white;
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  max-width: 45rem;
  margin: 0 auto;
}

input {
  cursor: pointer;
}

.round-corner {
  border-radius: 7px;
}
/* LOGO */

.logo {
  margin: 4rem;
  display: flex;
  justify-content: center;
}

/* FORM */

.form {
  &__bill {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .input {
    font-size: 2.2rem;
    background-image: url("/FrontendMentor-5-Tip-calculator-app-main/images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 2rem;
    text-align: end;
    padding-right: 2rem;
    background-color: $bg-input;
    border: none;
    height: 5rem;
    margin-bottom: 2rem;
    color: $main-dark;
  }

  .input:focus {
    border: 1px solid $main-dark;
  }
  .input:focus-visible {
    outline: none;
  }

  &__tip {
    display: flex;
    flex-direction: column;
    border: none;

    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
      margin-bottom: 3rem;

      :last-child {
        background-color: $bg-input;
        color: $second-dark;
        border: none;
        text-align: center;
        text-transform: capitalize;
      }

      :last-child:focus {
        border: 1px solid $main-dark;
        background-color: $bg-input;
        color: $main-dark;
        text-align: end;
      }
    }

    .button {
      width: calc(50% - 1rem);
      font-size: 2.3rem;
      padding: 0.5rem;
      background-color: $main-dark;
      color: $bg-white;
      border: none;
    }

    .button:focus {
      background-color: $second-dark;
      color: $main-dark;
    }
    .button:focus-visible {
      outline: none;
    }
  }

  &__people {
    display: flex;
    flex-direction: column;
    border: none;

    span {
      display: none;
    }

    .zero {
      display: inline;
      color: $error;
    }
    .zeroBorder {
      border: 2px solid $error;
    }
  }

  &__people .input {
    background-image: url("/FrontendMentor-5-Tip-calculator-app-main/images/icon-person.svg");
  }

  label {
    color: $label-gray;
    margin: 0.8rem 0;
    display: flex;
    justify-content: space-between;
  }
}

/* RESULT*/

.result {
  border-radius: 20px;
  background-color: $main-dark;
  color: $bg-white;
  margin: 3rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &__row {
    padding: 1rem 0;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__person {
    font-size: 1.3rem;
    color: $second-dark;
  }

  &__amount {
    font-size: 2.6rem;
    color: $second-dark;
  }

  &__button-reset {
    font-size: 2.3rem;
    padding: 0.8rem;
    margin-top: 2rem;
    text-transform: uppercase;
    background-color: $bg-reset;
    color: $main-dark;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }
  .active {
    background-color: $bg-light;
  }
}

/* ATTRIBUTION */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: $attribution;
}

/* MEDIA */

@media (min-width: 1060px) {
  /* MAIN */

  main {
    margin: 0 auto;
    flex-direction: row;
    max-width: 90rem;
    gap: 4rem;
  }
  /* FORM */

  .form {
    &__tip {
      .buttons {
        flex-wrap: wrap;
      }

      .button {
        width: calc(30% - 1rem);
      }
    }
  }

  /* RESULT */

  .result {
    width: 50%;

    &__button-reset {
      margin-top: 8rem;
    }
  }
}
