$bg-color: hsl(200, 100%, 62%);
$bg-active: hsl(182, 100%, 62%);
$navbar-text: hsl(0, 0%, 100%);
$dark-headers: hsl(212, 27%, 19%);
$gray-text: hsl(213, 9%, 39%);
$dark-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$transparent: rgba(255, 255, 255, 0);
$underline-red: hsl(7, 99%, 70%);
$gray-blue: hsl(210, 4%, 67%);
$footer: hsl(210, 4%, 67%);
$footer-link: hsl(168, 34%, 41%);
$footer-hover-link: hsl(168, 34%, 21%);
$attribution: hsl(210, 4%, 67%);
$attribution-link: hsl(228, 45%, 44%);
