@mixin link-underline {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 100px;
  height: 7px;
  transform: translateX(-50%);
  border-radius: 30%;
  background: hsl(51, 100%, 49%);
  filter: blur(1px);
  z-index: -1;
}
