/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select,
ul {
  font-family: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* || CONTAINER */
.container {
  width: clamp(25rem, 80vw, 100rem);
  margin: 2rem auto;
  font-size: 1.7rem;
}

/* || HEADER */
.header {
  h1 {
    font-family: "Tilt Prism", cursive;
    font-size: 7rem;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
}

/* || MAIN */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  .card {
    img {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
}
